# Node
node_modules/
dist/
.env
.env.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Vite / Editor / OS
.vscode/
.DS_Store
Thumbs.db

# backup files created by our scripts
*.bak*
*.cleanbak*
*_fix_*
